{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
	<h1 class="div_center" >{{ j.nombre }}</h1>
	<div class="row">	
		<div class="div_center col-md-6">	
		  
		  	<img id="img_detalle" src="/media/{{ j.imagen }}">
			<div>
			  <a class="btn btn-default" href="{%url 'vista_index'  %}">Regresar</a> 
			
			{% if user.is_authenticated %} 

			  <a class="btn btn-default" href="{%url 'editar_juego' id_juego=j.id %} "> Editar Info </a>
			  <a class="btn btn-default" href="{%url 'eliminar_juego' id_juego=j.id %} "> Eliminar </a>
			{% else %}
				<a class="btn btn-default" href="{%url 'vista_registrar'  %} "> Registrarte </a>
			{% endif %}

			</div>
		</div>
		<div class="col-md-6">
		  	<p><b>Desarrollador: </b>{{ j.desarrollador }}</p>
			<p><b>Vercion: </b> {{ j.version }}</p>
		  	<p><b>Categoria: </b>{{ j.categoria }}</p>
		  	<p><b>Fecha de Lanzamiento: </b> {{ j.f_lanzamiento }}</p>
		  	<p><b>Descripcion: </b>{{ j.descripcion }}</p>


		</div>
	</div>

{% endblock %}